<br><br><br>
<h1>Listado de Empleados</h1>
<table>
  <thead>
    <tr>
      <th>Foto</th>
      <th>Clave</th>
      <th>Nombre</th>
      <th>RFC</th>
      <th>Fecha Alta</th>
      <th>Departamento</th>
      <th>Puesto</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let empleado of empleados" (mouseenter)="empleadoHover = empleado" (mouseleave)="empleadoHover = null">
      <td>
        <img [src]="'http://localhost:5000/' + empleado.FotoEmpleado" class="foto-empleado">
      </td>
      <td>{{ empleado._id }}</td>
      <td>{{ empleado.NombreEmpleado.Nombres }} {{ empleado.NombreEmpleado.ApellidoPaterno }}</td>
      <td>{{ empleado.RFC }}</td>
      <td>{{ empleado.FechaAlta | date:'dd/MM/yyyy' }}</td>
      <td>{{ empleado.Departamento }}</td>
      <td>{{ empleado.Puesto }}</td>
      <td>
        <button class="btn-editar" [routerLink]="['/editar', empleado._id]">Editar</button>
        <button class="btn-eliminar" (click)="eliminarEmpleado(empleado._id)">Eliminar</button>
        <button class="btn-detalles" [routerLink]="['/detalles', empleado._id]">
          Ver detalles
        </button>
      </td>
    </tr>
  </tbody>
</table>
