<app-nav-admin></app-nav-admin>
<br><br><br>
<h1>Administrar Empleado</h1>
<form [formGroup]="empleadoForm" (ngSubmit)="onSubmit()">
  <!-- Nombre -->
  <div>
    <label>Nombre (s):</label>
    <input formControlName="Nombres" />
  </div>
  <div>
    <label>Apellido Paterno:</label>
    <input formControlName="ApellidoPaterno" />
  </div>
  <div>
    <label>Apellido Materno:</label>
    <input formControlName="ApellidoMaterno" />
  </div>

  <!-- Fecha de Nacimiento y Sexo -->
  <div>
    <label>Fecha de Nacimiento:</label>
    <input type="date" formControlName="FechaNacimiento" />
  </div>
  <div>
    <label>Rol:</label>
    <select formControlName="Rol">
      <option value="admin">Admin</option>
      <option value="empleado">Empleado</option>
    </select>
    <div *ngIf="empleadoForm.get('Rol')?.invalid && empleadoForm.get('Rol')?.touched">
      <div *ngIf="empleadoForm.get('Rol')?.errors?.['required']">El rol es obligatorio</div>
    </div>
  </div>
  <div>
    <label>Contraseña:</label>
    <div style="display: flex; align-items: center; gap: 5px;">
      <input [type]="showPassword ? 'text' : 'password'" formControlName="Contrasena" />
      <button type="button" (click)="togglePasswordVisibility()" style="margin-left: 5px;">
        {{ showPassword ? 'Ocultar' : 'Mostrar' }}
      </button>
    </div>
    <div
      *ngIf="empleadoForm.get('Contrasena')?.invalid && (empleadoForm.get('Contrasena')?.dirty || empleadoForm.get('Contrasena')?.touched)">
      <div *ngIf="empleadoForm.get('Contrasena')?.errors?.['required']">La contraseña es obligatoria</div>
      <div *ngIf="empleadoForm.get('Contrasena')?.errors?.['pattern']">
        La contraseña debe tener al menos 8 caracteres, una mayúscula, un número y un carácter especial
      </div>
    </div>
  </div>
  <div>
    <label>Sexo:</label>
    <select formControlName="Sexo">
      <option value="M">Masculino</option>
      <option value="F">Femenino</option>
    </select>
  </div>

  <!-- Foto -->
  <div>
    <label>Foto:</label>
    <input type="file" name="FotoEmpleado" (change)="onFileChange($event)">
    <!-- Mostrar imagen actual si no hay nueva imagen -->
    <img *ngIf="empleadoForm.value.FotoEmpleado && !nuevaImagen"
      [src]="'http://localhost:5000/' + empleadoForm.value.FotoEmpleado" alt="Foto actual" style="max-width: 100px;">
    <!-- Mostrar vista previa de la nueva imagen -->
    <img *ngIf="nuevaImagen" [src]="empleadoForm.value.FotoEmpleado" alt="" style="max-width: 100px;">
  </div>

  <!-- Departamento -->
  <div>
    <label>Departamento:</label>
    <select formControlName="Departamento">
      <option *ngFor="let depto of departamentos" [value]="depto.nombre">{{ depto.nombre }}</option>
    </select>
  </div>

  <!-- Puesto -->
  <div>
    <label>Puesto:</label>
    <select formControlName="Puesto">
      <option *ngFor="let puesto of puestos" [value]="puesto.nombre">{{ puesto.nombre }}</option>
    </select>
  </div>

  <!-- Domicilio -->
  <div formGroupName="Domicilio">
    <h3>Domicilio</h3>
    <input formControlName="Calle" placeholder="Calle" />
    <input formControlName="NumeroExterior" placeholder="Número Exterior" />
    <input formControlName="NumeroInterior" placeholder="Número Interior" />
    <input formControlName="Colonia" placeholder="Colonia" />
    <input formControlName="CP" placeholder="Código Postal" />
    <input formControlName="Ciudad" placeholder="Ciudad" />
  </div>

  <!-- Teléfonos -->
  <div formArrayName="Telefono">
    <h3>Teléfonos</h3>
    <div *ngFor="let tel of telefonos.controls; let i = index">
      <input [formControlName]="i" placeholder="Teléfono" />
      <div *ngIf="tel.invalid && (tel.dirty || tel.touched)">
        <div *ngIf="tel.errors?.['required']">El teléfono es obligatorio o elimina el campo.</div>
        <div *ngIf="tel.errors?.['pattern']">El teléfono debe tener 10 dígitos.</div>
      </div>
      <button type="button" (click)="eliminarTelefono(i)">Eliminar</button>
    </div>
    <button type="button" (click)="agregarTelefono()">Agregar Telefono</button>
  </div>

  <!-- Correos -->
  <div formArrayName="CorreoElectronico">
    <h3>Correos Electrónicos</h3>
    <div *ngFor="let correo of correos.controls; let i = index">
      <input [formControlName]="i" placeholder="Correo Electrónico" />
      <div *ngIf="correo.invalid && (correo.dirty || correo.touched)">
        <div *ngIf="correo.errors?.['required']">El correo es requerido.</div>
        <div *ngIf="correo.errors?.['email']">Ingrese un correo válido.</div>
      </div>
      <button type="button" (click)="eliminarCorreo(i)">Eliminar</button>
    </div>
    <button type="button" (click)="agregarCorreo()">Agregar Correo</button>
  </div>


  <div formArrayName="ReferenciasFamiliares">
    <h3>Referencias Familiares</h3>
    <div *ngFor="let ref of referencias.controls; let i = index" [formGroupName]="i">
      <input formControlName="NombreCompleto" placeholder="Nombre Completo" />
      <label>Parentesco: </label>
      <select formControlName="Parentesco">

        <option *ngFor="let parentesco of parentescos" [value]="parentesco.parentesco">{{ parentesco.parentesco }}
        </option>
      </select>
      <input formControlName="Telefono" placeholder="Teléfono" />
      <div
        *ngIf="referencias.controls[i].get('Telefono')?.invalid && (referencias.controls[i].get('Telefono')?.dirty || referencias.controls[i].get('Telefono')?.touched)">
        <div *ngIf="referencias.controls[i].get('Telefono')?.errors?.['required']">El teléfono es obligatorio o elimina
          el campo</div>
        <div *ngIf="referencias.controls[i].get('Telefono')?.errors?.['pattern']">El teléfono debe tener 10 dígitos
        </div>
      </div>
      <input formControlName="CorreoElectronico" placeholder="Correo Electrónico" />
      <div
        *ngIf="referencias.controls[i].get('CorreoElectronico')?.invalid && (referencias.controls[i].get('CorreoElectronico')?.dirty || referencias.controls[i].get('CorreoElectronico')?.touched)">
        <div *ngIf="referencias.controls[i].get('CorreoElectronico')?.errors?.['required']">El correo es obligatorio o
          elimina el campo</div>
        <div *ngIf="referencias.controls[i].get('CorreoElectronico')?.errors?.['email']">Ingrese un correo válido</div>
      </div>
      <button type="button" (click)="eliminarReferencia(i)">Eliminar</button>
    </div>
    <button type="button" (click)="agregarReferenciaFamiliar()">Agregar Referencia</button>
  </div>

  <!-- Cursos Tomados -->
  <div formArrayName="CursosTomados">
    <h3>Cursos Tomados</h3>
    <div *ngFor="let curso of cursos.controls; let i = index" [formGroupName]="i">
      <input formControlName="NombreCurso" placeholder="Nombre del Curso" />

      <label>Fecha de Inicio:</label>
      <input type="date" formControlName="FechaInicio" />

      <label>Fecha de Término:</label>
      <input type="date" formControlName="FechaTermino" />

      <input formControlName="DocumentoRecibido" placeholder="Documento Recibido" />
      <button type="button" (click)="eliminarCurso(i)">Eliminar</button>
    </div>
    <button type="button" (click)="agregarCursoTomado()">Agregar Curso</button>
  </div>

  <!-- Actividad (en Participación en Actividades) -->
  <div formArrayName="ParticipacionActividades">
    <h3>Participación en Actividades</h3>
    <div *ngFor="let actividad of actividadesArray.controls; let i = index" [formGroupName]="i">
      <label>Actividad: </label>
      <select formControlName="Actividad">
        <option *ngFor="let act of actividades" [value]="act.nombre">{{ act.nombre }}</option>
      </select>
      <label>Estatus: </label>
      <select formControlName="Estatus">
        <option value="1">Participó</option>
        <option value="0">No Participó</option>
      </select>
      <button type="button" (click)="eliminarActividad(i)">Eliminar</button>
    </div>
    <button type="button" (click)="agregarActividad()">Agregar Actividad</button>
  </div>

  <!-- Botón de Enviar -->
  <button type="submit">Guardar</button>
</form>
