<app-nav-admin></app-nav-admin>
<br><br><br>
<h1>Listado de Departamentos</h1>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let departamento of departamentos">
      <td>{{ departamento.nombre }}
      <td>
        <button class="btn-editar" [routerLink]="['/departamento', departamento._id]">Editar</button>
        <button class="btn-eliminar" (click)="eliminarDepartamento(departamento._id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
