<app-nav-admin></app-nav-admin>
<br><br><br>
<h1>Listado de Actividades</h1>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let actividad of actividades">
      <td>{{ actividad.nombre }}
      <td>
        <button class="btn-editar" [routerLink]="['/actividad', actividad._id]">Editar</button>
        <button class="btn-eliminar" (click)="eliminarActividad(actividad._id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
