<div class="navbar">
  <div class="navbar-container">
    <ul class="navbar-links">
      <li class="navbar-item" routerLink="/crear" routerLinkActive="active-link">Empleados</li>
      <li class="navbar-item" routerLink="/actividad" routerLinkActive="active-link">Actividades</li>
      <li class="navbar-item" routerLink="/departamento" routerLinkActive="active-link">Departamentos</li>
      <li class="navbar-item" routerLink="/puesto" routerLinkActive="active-link">Puestos</li>
      <li class="navbar-item" routerLink="/parentesco" routerLinkActive="active-link">Parentescos</li>
      <li class="navbar-item" routerLink="/listado" routerLinkActive="active-link">Listado Empleados</li>
      <li class="navbar-item" routerLink="/listadoActividades" routerLinkActive="active-link">Listado Actividades</li>
      <li class="navbar-item" routerLink="/listadoDepartamentos" routerLinkActive="active-link">Listado Departamentos</li>
      <li class="navbar-item" routerLink="/listadoPuestos" routerLinkActive="active-link">Listado Puestos</li>
      <li class="navbar-item" routerLink="/listadoParentescos" routerLinkActive="active-link">Listado Parentescos</li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>
